
:root {
  --t-tulo-font-family: "Poppins", Helvetica;
  --t-tulo-font-weight: 500;
  --t-tulo-font-size: 64px;
  --t-tulo-letter-spacing: 0px;
  --t-tulo-line-height: normal;
  --t-tulo-font-style: normal;
  --texto-font-family: "Poppins", Helvetica;
  --texto-font-weight: 500;
  --texto-font-size: 24px;
  --texto-letter-spacing: 0px;
  --texto-line-height: normal;
  --texto-font-style: normal;
  --subt-tulo-font-family: "Poppins", Helvetica;
  --subt-tulo-font-weight: 400;
  --subt-tulo-font-size: 32px;
  --subt-tulo-letter-spacing: 0px;
  --subt-tulo-line-height: normal;
  --subt-tulo-font-style: normal;
  --mini-texto-font-family: "Poppins", Helvetica;
  --mini-texto-font-weight: 400;
  --mini-texto-font-size: 24px;
  --mini-texto-letter-spacing: 0px;
  --mini-texto-line-height: normal;
  --mini-texto-font-style: normal;
  --t-tulo2-font-family: "Poppins", Helvetica;
  --t-tulo2-font-weight: 400;
  --t-tulo2-font-size: 40px;
  --t-tulo2-letter-spacing: 0px;
  --t-tulo2-line-height: normal;
  --t-tulo2-font-style: normal;
  --text-font-family: "Poppins", Helvetica;
  --text-font-weight: 400;
  --text-font-size: 36px;
  --text-letter-spacing: 0px;
  --text-line-height: normal;
  --text-font-style: normal;
  --comunica-o-font-family: "Poppins", Helvetica;
  --comunica-o-font-weight: 600;
  --comunica-o-font-size: 15px;
  --comunica-o-letter-spacing: 0px;
  --comunica-o-line-height: normal;
  --comunica-o-font-style: normal;
  --comunica-o2-font-family: "Poppins", Helvetica;
  --comunica-o2-font-weight: 400;
  --comunica-o2-font-size: 15px;
  --comunica-o2-letter-spacing: 0px;
  --comunica-o2-line-height: normal;
  --comunica-o2-font-style: normal;
}
